
  
  
  
  



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
body{
    font-family: "Arial";
    
}

/* .bt{
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #1a2f3e;
    color: white;
}
.bt:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: #1a2f3e;
} */
/* .nav-icons{
    width: 5px;
    height: 10px;
    display: flex;
    gap: 15px;
} */

.nav-header-content {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #1a2f3e;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    

}

.nav-nnpc-logo{
    width: 131.4px;
    height: 72px;
    flex-shrink: 0;
    margin-left: 30px;
    
}


.nav-btn{
    color: #1a2f3e;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: 0.16px;
    text-transform: uppercase;
    border-radius: 56px;
    background: white;
    padding: 15px 5px;
    width: 170px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}
.nav-btn:hover{
    
    background-color: #1a2f3e;
    color: white;
    border: solid white;
    
}
.login-btn{
    color: #1a2f3e;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: 0.16px;
    text-transform: uppercase;
    border-radius: 56px;
    background: white;
    padding: 12px;
    width: 120px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.login-btn:hover{
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    background-color: #1a2f3e;
    color: white;
    border: solid white;
    padding: 10px;
    
}


.background-container {
    background-image: url(../image/download6.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    
   
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}

.home-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.home-middle-first-text{
    color: white;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.5px;
    margin-bottom: -50px;
    margin-top: 150px;
    
}
.home-middle-second-text{
    color: white;
    text-align: center;
    font-family: "montserrat";
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin-bottom: 0px;
}
.home-middle-third{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 56px;
    background: #1a2f3e;
    width:425px ;
    margin-top: -20px;

}
.home-middle-third-text{
    color:  white;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-left: 20px;
}




.home-down{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #1a2f3e;
    width: 297.33px;
    height: 297px;
    
}
.home-down2{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #000000;
    width: 297.33px;
    height: 297px;
}
.home-down3{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #6dbe4f; 
    width: 297.33px;
    height: 297px;
}
.home-down-icon{
    width: 150.026px;
    height: 150.072px;
    flex-shrink: 0;
    margin-top: -10px;
    margin-bottom: -50px;
}
.home-down-p1{
    color: white;
text-align: center;

font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 29px; 
margin-bottom: -20px;
}
.home-down-p2{
    color: white;
text-align: center;

font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.h-d {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px; 
    margin-top: 70px;
    z-index: 1;
    position: relative;
    
}



.footer{
    background: linear-gradient(90deg, #B1F6CF 12.78%, #6593BE 57.2%, #B0AA25 90.68%);
    backdrop-filter: blur(20px);
    color: white;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin-bottom: -20px;
    margin-top: 70px;
    
}

/* MEDIA QUERIES */
 @media (min-width:200px) and (max-width:475px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    body {
        display: flex;
        flex-direction: column;
        font-family: Arial, sans-serif;
    }
    
    
    section {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .background-container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .nav-btn{
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 0.16px;
        padding: 13px 3px;
        width: 123px;
    }
    .nav-nnpc-logo{
        width: 120.4px;
        height: 68px;
        flex-shrink: 0;
        margin-left: 25px;
    }
   
    .home-middle-third{
        width: 350px;
    }
    .home-middle-third-text{
        font-size: 15px;
        font-weight: 500;
        line-height: 140%;
        margin-left: 20px;
    }
     .login-btn{
        font-size: 12px;
        line-height: 100%; 
        letter-spacing: 0.16px;
        padding: 7px;
        width: 100px;
        margin-right: 10px;
    } 
    .home-middle-first-text{
        font-size:35px;
        line-height: 50px;
        letter-spacing: 0.5px;
    }
    .home-middle-second-text{
        font-family: "Arial";
        font-size: 12.5px;
        font-weight: 500;
        line-height: 120%; 
    }
    
    .h-d {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; 
        scrollbar-width: none; 
        -ms-overflow-style: none; 
        justify-content: flex-start; 
        margin-left: 10px;
        /* margin-bottom: 100px; */
    }
    
    .h-d::-webkit-scrollbar {
        display: none; 
    }
    
    .home-down,
    .home-down2,
    .home-down3 {
        flex-shrink: 0;
        width: calc(48% - 55px); 
        margin-right: 10px; 
    }
    .home-down-icon{
        width: 110.026px;
        height: 110.072px;
        flex-shrink: 0;
        margin-top: -10px;
        margin-bottom: -50px;
    }
    .home-down-p1{
        color: white;
    text-align: center;
    
    font-size: 11px;
    font-style: normal;
    /* font-weight: 600; */
    line-height: 29px; 
    /* margin-bottom: -20px; */
    }
    .home-down-p2{
        color: white;
    text-align: center;
    
    font-size: 11px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 24px; 
    }
    
    
    
    .footer{
        background: linear-gradient(90deg, #B1F6CF 12.78%, #6593BE 57.2%, #B0AA25 90.68%);
        backdrop-filter: blur(20px);
        color: #ECECEC;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
        
    }

 } 





@media (min-width:496px) and (max-width:600px){
    .nav-btn{
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 0.16px;
        padding: 15px 5px;
        width: 123px;
    }
   
    .home-middle-third{
        width: 350px;
        
    }
    .home-middle-third-text{
        font-size: 15px;
        font-weight: 500;
        line-height: 140%;
        margin-left: 20px;
    }
     .login-btn{
        font-size: 12px;
        line-height: 100%; 
        letter-spacing: 0.16px;
        padding: 7px;
        width: 100px;
        margin-right: 10px;
    } 
    .login-btn:hover{
        padding: 5px;
    }
    .home-middle-first-text{
        font-size:40px;
        line-height: 50px;
        letter-spacing: 0.5px;
    }
    .home-middle-second-text{
        font-family: "Arial";
        font-size: 14.5px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
    }
    
    .h-d {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
        scrollbar-width: none; /* Hides scrollbar for Firefox */
        -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
        justify-content: flex-start; 
        margin-left: 30px;
        margin-bottom: 100px;
    }
    
    .h-d::-webkit-scrollbar {
        display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
    }
    
    .home-down,
    .home-down2,
    .home-down3 {
        flex-shrink: 0;
        width: calc(45% - 50px); 
        margin-right: 20px; 
    }
    .home-down-icon{
        width: 120.026px;
        height: 120.072px;
        flex-shrink: 0;
        margin-top: -10px;
        margin-bottom: -50px;
    }
    .home-down-p1{
        color: white;
    text-align: center;
    
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px; 
    margin-bottom: -20px;
    }
    .home-down-p2{
        color: white;
    text-align: center;
    
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    }
    
    
    
    .footer{
        background: linear-gradient(90deg, #B1F6CF 12.78%, #6593BE 57.2%, #B0AA25 90.68%);
        backdrop-filter: blur(20px);
        color: #ECECEC;
        text-align: center;
       
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
        margin-top: -61px;
    }
    /* .bt{
        background-color: white;
        border: none;
        border-radius: 10px;
        margin-top: -5px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #1a2f3e;
        color: white;
        
    } */
}
@media (min-width:601px) and (max-width:768px){
    /* .bt{
        font-size: 15px;
        margin-left: -10px;
    } */
    .home-middle-third-text{
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        margin-left: 20px;
    }
    .home-middle-third{
        width: 400px;
    }
    .login-btn{
        font-size: 12px;
        font-weight: 600;
        line-height: 100%; 
        letter-spacing: 0.16px;
        padding: 10.8px;
        width: 110px; 
    }
    .home-middle-first-text{
        color: white;
        text-align: center;
        font-size:42px;
        font-weight: 500;
        line-height: 49px;
        letter-spacing: 0.5px;
        margin-top: 150px;
    }
    .home-middle-second-text{
        color: white;
        text-align: center;
        font-family: "Arial";
        font-size: 16.5px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
        margin-bottom: 0px;
    }
   
.home-down{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #1a2f3e;
    width: 400.33px;
    height: 340px;
    
}
.home-down2{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #000000;
    width: 400.33px;
    height: 340px;
}
.home-down3{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    
    border-radius: 16px;
    background: #6dbe4f; 
    width: 400px;
    height: 340px;
   
}
.home-down-icon{
    width: 150.026px;
    height: 150.072px;
    flex-shrink: 0;
    margin-top: -10px;
    margin-bottom: -50px;
}
.home-down-p1{
    color: white;
text-align: center;

font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 29px; /* 116% */
margin-bottom: -20px;
}
.home-down-p2{
    color: white;
text-align: center;

font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.h-d{
    display: flex;
    gap: 10px;
  
    margin-top: 70px;
    margin-bottom: 140px;
    margin-right: 40px;
    margin-left: 40px;
}
       
        
    
    .footer{
        background: linear-gradient(90deg, #B1F6CF 12.78%, #6593BE 57.2%, #B0AA25 90.68%);
        backdrop-filter: blur(20px);
        color: #ECECEC;
        text-align: center;
       
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
        margin-top: -61px;
    }
    
}

@media (min-width:768px) and (max-width:992px){
    
    .home-middle-first-text{
        color: white;
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 0.5px;
        margin-top: 150px;
    }

    

.home-down{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #1a2f3e;
    width: 330.33px;
    height: 340px;
    
}
.home-down2{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #000000;
    width: 330.33px;
    height: 340px;
}
.home-down3{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #6dbe4f; 
    width: 330.33px;
    height: 340px;
   
}
.home-down-icon{
    width: 140.026px;
    height: 140.072px;
    flex-shrink: 0;
    margin-top: -10px;
    margin-bottom: -50px;
}
.home-down-p1{
    color: white;
text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 29px; /* 116% */
margin-bottom: -20px;
}
.home-down-p2{
    color: white;
text-align: center;

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.h-d{
    display: flex;
    gap: 20px;
  
    margin-top: 70px;
    margin-bottom: 140px;
    margin-right: 40px;
    margin-left: 40px;
}

    .footer{
        background: linear-gradient(90deg, #B1F6CF 12.78%, #6593BE 57.2%, #B0AA25 90.68%);
        backdrop-filter: blur(20px);
        color: #ECECEC;
        text-align: center;
       
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
        margin-top: -61px;
    }
}

@media (min-width:993px) and (max-width:1200px){
    
/* .bt{
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #1a2f3e;
    color: white;
}
.bt:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: #1a2f3e;
} */

.nav-header-content{
    
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        background-color: #1a2f3e;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        backdrop-filter: blur(12px);
}
.nav-nnpc-logo{
    width: 131.4px;
    height: 72px;
    flex-shrink: 0;
    
}
/* .nav-icons{
    width: 5px;
    height: 10px;
    display: flex;
    gap: 15px;
} */

.nav-btn{
    font-size: 13px;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: 0.16px;
    padding: 15px 5px;
    width: 170px;
}

.login-btn{
    color: #1a2f3e;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: 0.16px;
    text-transform: uppercase;
    border-radius: 56px;
    background: white;
    padding: 12px;
    width: 120px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}


.home-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    justify-content: center;
}
.home-middle-first-text{
    
    
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.5px;
    margin-bottom: -50px;
    margin-top: 150px;
}
.home-middle-second-text{
    color: white;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin-bottom: 0px;
}
.home-middle-third{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 56px;
    background: #1a2f3e;
    width:425px ;

}
.home-middle-third-text{
    color:  white;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 26.6px */
    margin-left: 20px;
}



.home-down{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #1a2f3e;
    width: 297.33px;
    height: 297px;
    
}
.home-down2{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #000000;
    width: 297.33px;
    height: 297px;
}
.home-down3{
    display: flex;
    padding: 19px 20px 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: #6dbe4f; 
    width: 297.33px;
    height: 297px;
}


.h-d{
    display: flex;
    gap: 20px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 140px;
}
.footer{
    background: linear-gradient(90deg, #B1F6CF 12.78%, #6593BE 57.2%, #B0AA25 90.68%);
    backdrop-filter: blur(20px);
    color: #ECECEC;
    text-align: center;
   
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin-bottom: -20px;
}
}